package cooking

import (
	"cooking-with-datastar/cmd/components"
	"cooking-with-datastar/cmd/internal"
	"cooking-with-datastar/cmd/recipe"
)

templ Recipe(r recipe.Recipe) {
	@components.Page("Recipe") {
		@components.BodyHeader("Recipe")
		<main id="main">
			<header>
				<hgroup>
					<h2>{ internal.ToStartCase(r.String()) }</h2>
					<p>So good it'll make you question if this site is legit</p>
				</hgroup>
			</header>
			@Ingredients(r)
			@Prep(r)
			@Cook("bake")
		</main>
	}
}
